<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managment</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="top-bar">
        <div class="user-info">
            <span id="user-email"></span>
        </div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/management">Management</a>
        <a href="/others">Others</a>
        <a id="logout-btn" href="/logout">Logout</a>
    </div>
    <div class="container">
        <ul class="project-list">
            <div  class="project-list-flex">
            <li class="text">
                <a>
                    Update comments from Jira to TMS
                </a>

            </li>
            <button class="start-btn" onclick="runTest()" >Start</button>
            </div>
        </ul>
    </div>
    <script src="/scripts/userDisplay.js"></script>
    <script src="/scripts/jira-managment.js"></script>

</body>
</html>
