<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="top-bar">
        <div class="user-info">
            <span id="user-email"></span>
        </div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/management">Management</a>
        <a href="/others">Others</a>
        <a id="logout-btn" href="/logout">Logout</a>
    </div>
    <div class="container">
        <ul class="project-list">
            <li><a href="/ciht">CIHT</a></li>
            <li><a href="/irm">IRM</a></li>
            <li><a href="/bsa">BSA</a></li>
            <li><a href="/gafta">GAFTA</a></li>
            <li><a href="/winepact">WINEPACT</a></li>
        </ul>
    </div>
    <script src="/scripts/userDisplay.js"></script>
</body>
</html>
