<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIHT</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="top-bar">
        <div class="user-info">
            <span id="user-email"></span>
        </div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/management">Management</a>
        <a href="/others">Others</a>
        <a id="logout-btn" href="/logout">Logout</a>
    </div>
    <div class="container">
        <h1>CIHT Registration test</h1>
        <div class="buttons">
            <button onclick="startTest()">Start Test</button>
            <button onclick="clearLogs()">Clear Logs</button>
        </div>
        <div id="log-container"></div>
    </div>
    <script src="/scripts/ciht.js"></script>
    <script src="/scripts/fetchLogs.js"></script>
    <script src="/scripts/userDisplay.js"></script>
</body>
</html>
